/*------------------------------------*\
    #UTILITIES: COLOR
\*------------------------------------*/

.dark { 
    color: var(--color-dark); 
}

.mid {
    color: var(--color-mid);
}

.light {
    color: var(--color-light);
}

.lightest {
    color: var(--color-lightest);
}

.white {
    color: var(--color-white);
}

.brand {
    color: var(--color-brand);
}