/*------------------------------------*\
    #UTILITIES: SPACING
\*------------------------------------*/

.mt1 {
    margin-top: var(--base-margin);
}

.mt2 {
    margin-top: calc(var(--base-margin) * 2);
}

.mt3 {
    margin-top: calc(var(--base-margin) * 4);
}