/*------------------------------------*\
    #UTILITIES: HEADING
\*------------------------------------*/

.f1 {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
}

.f2 {
    font-size: var(--font-size-l);
    line-height: var(--line-height-l);
}

.f3 {
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
}

.f4 {
    font-size: var(--font-size-s);
    line-height: var(--line-height-m);
}